/* main */
main{

}
h2{
  font-family: "Trirong", serif;
  font-weight: 300;
  font-style: normal;
}
/* best */
#best {
  height: 100vh;
  min-height: 800px;
}
#best div.wrap {
  align-items: center;
  height: 100%;
}
#best div.wrap .titletext{
  width: 30%;
  height: 80%;
}
#best div.wrap .titletext h2 {
  
}
#best div.wrap .titletext a{
  margin-top: 50px;
  width: fit-content;
  padding: 10px 0;
  display: flex;
  align-items: center;
  gap: 28px;
}
#best div.wrap .titletext a span{
  display: block;
  width: 40px;
  height: 40px;
  background-color: #f6eddc;
  border-radius: 50%;
  position: relative;
}
#best div.wrap .titletext a span::before{
  content:"";
  width: 35px;
  height: 1px;
  background-color: black;
  display: inline-block;
  top: calc(50% - 0.5px);
  position: absolute;
  left: -15px;
}
#best div.wrap .titletext a span::after{
  content:"";
  display: inline-block;
  width: 4px;
  height: 4px;
  border-right: 1px solid;
  border-top: 1px solid;
  transform: rotate(45deg);
  position: absolute;
  top: calc(50% - 2.5px);
  left: 15px
}
#best div.wrap ul {
  width: 80%;
}
#best div.wrap ul li {
  width: calc((100% - 120px)/ 3);
  margin-left: 40px;
}
#best div.wrap ul li:nth-of-type(1){
  margin: initial
}
#best div.wrap ul li a {
  position: relative;
  position: relative;
}
#best div.wrap ul li:not(:nth-of-type(1)) a::before{
  content:"";
  display: block;
  width: 50px;
  height: 20px;
  position: absolute;
  top: 10px;
  left: 10px;
  background-image: url(../img/best.jpg);
  background-size: cover;
  background-position: center;
}
#best div.wrap ul li a img:nth-of-type(1) {
  display: block;
  width: 100%;
  height: 600px;
  background-color: #f4f4f4;
  backface-visibility: hidden;
  object-fit: cover;
  object-position: center;
}
#best div.wrap ul li a img:nth-of-type(2){
  width: 100%;
  height: 600px;
  position: absolute;
  top: 0;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

#best div.wrap ul li:hover a img:nth-of-type(1){
  transform: rotateY(-180deg);
}
#best div.wrap ul li:hover a img:nth-of-type(2){
  transform: rotateY(0deg);
  object-fit: cover;
  object-position: center;
}
#best div.wrap ul li a h3 {
  margin-top: 15px;
}
#best div.wrap ul li a p {
  color: #888;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: lighter;
}
#best div.wrap ul li a strong {
  font-weight: bold;
}
#best div.wrap ul li a strong span {
  font-weight: initial;
}
#best div.wrap ul li a .colorchips{
  display: flex;
  gap: 3px;
  margin-top: 10px;
}
#best div.wrap ul li a span.color{
  display: block;
  width: 20px;
  height: 20px;
  background-color: rgb(250, 223, 181);
}
#best div.wrap ul li a span.color:nth-of-type(2){
  background-color: rgb(242, 216, 175)
}
#best div.wrap ul li a strong span:nth-child(1){
  color: #C3630A;
  margin-right: 10px;
}
#best div.wrap ul li a strong span:nth-child(2){
  margin-left: 5px;
  font-weight: lighter;
  color: #888;
  text-decoration: line-through;
}
#best .slick-prev{
  left: -25px;

}
#best .slick-prev::before{
  content:"";
  display: block;
  width: 20px;
  height: 20px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  transform: rotate(-45deg);
}
#best .slick-next{
  right: 25px;
}
#best .slick-next::before{
  content:"";
  display: block;
  width: 20px;
  height: 20px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  transform: rotate(45deg);
}
#best div.wrap .slick-dots{
 display: none !important;
}


/* new */
#new {
  height: 100vh;
  min-height: 900px;
  overflow: hidden;
}
#new div.wrap {
  padding-left: 0;
  height: 100%;
  box-sizing: border-box;
  padding-top: 0;
  position: relative;
  display: flex;
}
#new div.wrap div.banner {
  width: 50%;
  height: 100%;
}
#new div.wrap div.banner>a {
  width: 100%;
  height: 100%;
}
#new div.wrap div.banner a img {
  width: 100%;
  height: 100%;
  display: block;
}
#new div.wrap div.newcont {
  width: 50%;
  padding: 240px 50px 0px 50px;
  box-sizing: border-box;
}
#new div.wrap h2 {
  position: absolute;
  left: 52.5%;
  top: 180px;
}
#new div.wrap div.newcont a{
  width: 100%;
  height: 680px;
}
#new div.wrap div.newcont div.newtext { 
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
}
#new div.wrap div.newcont div.newtext h3 {
  font-size: 52px;
  font-weight: 300;
}
#new div.wrap div.newcont div.newtext .newtext-1{
  width: 310px;
  grid-column: 2;
  grid-row: 2;
  height: fit-content;
  justify-self: right;
  align-self: end;
  margin-bottom: 80px;
}
#new div.wrap div.newcont div.newtext img {
  display: block;
  width: 300px;
  height: auto;
}
#new div.wrap div.newcont div.newtext strong {
  margin: 0 0 20px 0;
  display: block;
  font-size: 18px;
}
#new div.wrap div.newcont div.newtext p{
  padding-left: 30px;
}
#new div.wrap div.newcont div.newtext p span {
  line-height: 1.6;
  font-size: 15px;
  color: #777;
}
#new div.wrap .slick-dots{
  top:5%;
  left: 40px;
  bottom: auto;
  text-align: initial;
  display: flex;
}
#new .slick-dots li{
 width: 30px;
 height: 30px;
 display: flex;
 justify-content: center;
  align-items: center;
}
#new .slick-dots li span{
  color: #888;
}
#new .slick-dots li.slick-active{
  width: 30px;
  height: 30px;
  border: 1px solid;
  border-radius: 50%;
}
#new .slick-dots li.slick-active span{
  color: #222;
}
/* m-banner */
#m-banner {
  height: 100vh;
  background-color: #ddd;
  min-height: 500px;
  overflow: hidden;
  position: relative;
}
#m-banner img{
  transition: 0.3s;
}
#m-banner:hover img{
   scale: 1.03;
}
#m-banner > a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction:column;
  justify-content: center;
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#m-banner > a:hover{
 
}
#m-banner div.wrap {
  margin: 0;
  width: fit-content;
}
#m-banner a div.wrap h2 {
  font-size: 68px;
  color: white;
}
#m-banner a div.wrap img {
  display: block;
  margin-bottom: 70px;
  margin-top: 40px;
}
#m-banner a div.wrap button{
  display: block;
  color: white;
  display: flex;
  align-items: center;
  gap: 30px;
}
#m-banner a div.wrap button span{
  display: block;
  width: 40px;
  height: 40px;
  background-color: #ffffff4d;
  border-radius: 50%;
  position: relative;
}
#m-banner a div.wrap button span::before{
  content:"";
  width: 35px;
  height: 1px;
  display: inline-block;
  top: calc(50% - 1px);
  position: absolute;
  left: -15px;
  background-color: white;
}
#m-banner a div.wrap button span::after{
  content:"";
  display: inline-block;
  width: 4px;
  height: 4px;
  border-right: 1px solid;
  border-top: 1px solid;
  transform: rotate(45deg);
  position: absolute;
  top: calc(50% - 3.5px);
  left: 15px
}

/* 비디오 */
#video{
  height: 100vh;
  background-image: url(../img/vedio_bg.jpg);
  display: flex;
  justify-content: center;
  min-height: 600px;
  background-size: cover;
  background-position: center;
}
#video a{
  height: 100%;
}
#video a img{
  height: 100%;  
}


















