/* 타이틀영역 */
div#title {
    background-color: #ccc;
    height: 100%;
    min-height: 500px;
    
  }
div#title div.wrap {
    height: 100%;
    padding: 0;
  }
div#title div.wrap .slider{
    position: relative;
  }
div#title div.wrap .slider img{
    width: 100%;
    display: block;
    height: 100vh;
    min-height: 700px;
    object-fit: cover;
  }
div#title div.wrap .slider .titletext{
    position: absolute;
    bottom: 30%;
    left: 16%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: white;

  }
div#title div.wrap .slider .titletext h2{
    line-height: 1.4;
   font-family: initial;
  }
div#title div.wrap .slider .titletext p{
    line-height: 1.4;
    font-weight: lighter;
  }
div#title div.wrap .slider .titletext a{
    color: white;
    border: 1px solid;
    width: fit-content;
    padding: 10px;
  }
div#title div.wrap .slider .titletext a:hover{
  background-color: rgba(255,255,255,0.2)
}
div#title .slick-dots{
    bottom: 25px;
    display: none !important;
  }
div#title .slick-prev{
  right: 110px;
  top: auto;
  bottom: 25px;
  width: 40px;
  height: 45px;
  left: auto;
  z-index: 1;
}
div#title .slick-prev::before{
  content: '';
  background-image: url(../img/left.svg);
  display: block;
  height: 100%;
  width: 100%;
  background-size: cover;
}
div#title .slick-next{
  right: 75px;
  top: auto;
  bottom: 25px;
  width: 40px;
  height: 45px;
}
div#title .slick-next::before{
  background-image: url(../img/right.svg);
  display: block;
  content: '';
  height: 100%;
  width: 100%;
  background-size: cover;
}


/* 타이틀 진행바 */
        #title .wprogress-bar{
            width: 120px;
            height: 2px;
            background-color: #ccc;
            position: absolute;
            bottom: 70px;
            left: calc(50% - 60px);
        }
        #title{
            position: relative;
        }
        #title .progress-bar {
            width: 0px;
            height: 2px;
            background-color: #fff;
            position: absolute;
            bottom: 0;
            left: 0px;
            transition: width 0.3s;
        }
#title .slick-dotted.slick-slider{
  margin-bottom: 0;
}
#title span.number{
  position: absolute;
  bottom: 63px;
  left: calc(50% - 75px);
  color: #fff;
}
#title span.number strong{
  margin-right: 130px; 
}






